.homePageContainer{
    padding: 4rem 2rem 5rem 2rem;
    background-color: rgb(23, 23, 23);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    

    @media (min-width: 840px) {
        padding-top: 5.3rem;   
    }

    .homePageCarouselContainer{
        display: flex;
        flex-direction: column;
        width: 95%;
        overflow: scroll;
        overflow-y: hidden;

        h3{
            margin: 2rem 0 1rem 0;
        }

        .homePageCarousel{
            display: flex;
            gap: 1rem;
        }
    }

    .homePageCarouselContainer::-webkit-scrollbar {
        width: 8px; 
        
    }
      
    .homePageCarouselContainer::-webkit-scrollbar-track {
        background-color: rgb(23, 23, 23);
    }
      
    .homePageCarouselContainer::-webkit-scrollbar-thumb {
        background-color: #313030;
        border-radius: 10px;
    }
      
    .homePageCarouselContainer::-webkit-scrollbar-thumb:hover {
        background-color: #555; 
    }

}